extends layout 

block content
    form(id='form' method='post' action='/edit/' + user.id) 
        p Username:
            br
            input(name='username' type='text' value=user.username)
        p Email:
            br
            input(name='email' type='text' value=user.email)
        p Age: 
            br
            input(name='age' type='text' value=user.age)   
        p New Password:
            br
            input(name='password' type='text' value=user.password)
        p What is your favorite primary color?
            select(name="colors")
                option(select = user.q1Ans)=user.q1Ans
                option(value='Red')
                option(value='Blue')
                option(value='Yellow')
                option(value="I hate colors")
        p What is your meal of the day?
            select(name="meal")
                option(select = user.q2Ans)=user.q2Ans 
                option(value='Breakfast')
                option(value='Lunch')
                option(value='Dinner/Supper')
                option(value='I eat when I want to')
        p Batman or Superman?
            select(name='Batman or Superman')
                option(select = user.q3Ans)=user.q3Ans
                option(value='Batman, Duh.')
                option(value='Easy, Superman.')
                option(value='Captain America.')
                option(value='Who?')      
        p
            input(type='submit' value='Save')
