extends layout 

block content 
    p Username:
        br
        input(name='username' type='text' value=user.username)
    p Email:
        br
        input(name='email' type='text' value=user.email)
    p Age: 
        br
        input(name='age' type='text' value=user.age)   
    p New Password:
        br
        input(name='password' type='text' value=user.password)
    p What is your favorite primary color?
        select(name="colors")
            option(select = user.q1Ans)=user.q1Ans
            option(name='Red')
            option(name='Blue')
            option(value='Yellow')
            option(value="I hate colors")
    p What is your meal of the day?
        select(name="meal")
            option(select = user.q2Ans)=user.q2Ans 
            option(name='Breakfast')
            option(name='Lunch')
            option(name='Dinner/Supper')
            option(name='I eat when I want to')
    p Batman or Superman?
        select(name='Batman or Superman')
            option(select = user.q3Ans)=user.q3Ans
            option(name='Batman, Duh.')
            option(name='Easy, Superman.')
            option(name='Captain America.')
            option(name='Who?')      