extends layout 

block content
    div(class='containerDiv')
        form(id='form' method='post' action='/edit') 
            p Username:
                br
                input(name='username' type='text' value=session.username)
            p Email:
                br
                input(name='email' type='text' value=session.email)
            p Age: 
                br
                input(name='age' type='text' value=session.age)   
            p New Password:
                br
                input(name='password' type='text')
            p What is your favorite primary color?
                select(name="color" id ='category1')
                    option(name='Red') Red
                    option(name='Blue') Blue
                    option(value='Yellow') Yellow
                p Currently : #{session.color}
            p What is your meal of the day?
                select(name="meal" id ='category2')
                    option(name='Breakfast') Breakfast
                    option(name='Lunch') Lunch
                    option(name='Dinner') Dinner
                p Currently : #{session.meal}
            p Best SuperHero?
                select(name='superhero' id ='category3')
                    option(name='Batman') Batman
                    option(name='Superman') Superman
                    option(name='Captain America') Captain America
                p Currently : #{session.superhero}
            p
                input(type='submit' value='Save' id ='submit')        
            p Last Visited on #{cookie}
        
